/* src/App.css */
body {
  display: flex;
  flex-direction: column;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: white; /* Use RGBA for transparent background */
  color: black;
  padding: 10px 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.logo img {
  max-width: 100px; /* Adjust the max-width based on your logo size */
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-left: 20px;
}

nav ul li:first-child {
  margin-left: 0;
}

nav ul li a {
  color: #000;
  text-decoration: none;
}

.hero {
  background-image: url('https://sky-angels-bucket.s3.amazonaws.com/images/hero.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  /* background-position: center; */
  color: #fff;
  text-align: center;
  padding: 30vh 20px; /* Set the padding and height in viewport height (vh) */
  font-family: 'Montserrat', sans-serif;
}

.hero-content {
  max-width: 800px;
  margin: 0 auto;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
}

.hero p {
  font-size: 1.25rem;
  margin-bottom: 30px;
}

button {
  background-color: #fff;
  color: #333;
  padding: 15px 30px;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #e0e0e0;
}



.mailing-list-content {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.mailing-list form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mailing-list input {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.mailing-list button {
  background-color: #0070c9;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.mailing-list button:hover {
  background-color: #00568b;
}

/* FixedFooter.css */
.fixed-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  color: #000;
  padding: 10px 0;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Add more styles as needed */